{% extends 'base.html' %}
{% block body %}
<style>
#ab a
{
    color:red;
    text-decoration: underline;
}
</style>
  <div class="container" style="color:black; margin-top:10px; ">
    <center>
      <h2 class="jumbotron" style="text-decoration: underline; background-color:transparent; color:black;">♚ About Me ♚</h2>
      <p >Hello! I'm Rishabh Tiwari and I made this Project with Django Framework.<br>Python programming language is used in backend processing.<br>I used Bootsrap 4 for designing purposes.<br>Thank You...</p>
      <h3 style="text-decoration: underline;">-: Contact Me :-</h3>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/reez_tricks" target="blank;"><i class='fab fa-instagram' style='font-size:30px;color:rgb(230, 66, 189);'> Reez Tricks</i></a>
        </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/profile.php?id=100006478718294" target="blank;"><i class='fab fa-facebook' style='font-size:30px;color:#3b5998 '> Reez Tricks</i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.twitter.com/reeztricks" target="blank;"><i class='fab fa-twitter' style='font-size:30px;color:#00acee '> Reez Tricks</i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.youtube.com/channel/UCvgPng63kGCp5zUeJhopXig" target="blank;"><i class='fab fa-youtube' style='font-size:30px;color:#FF0000'> Reez Tricks</i></a>
                </li>
            </ul>
        </center>
    </div>
{% endblock %}