{% extends 'base.html' %}
{% block body %}

<div class="jumbotron" style="background-color : grey;width :80;text-align: center;text-decoration: underline;font-size:100%; margin-top:20px;color:white;background-size: 100% 100%;background-repeat: no-repeat; background-position: top;background-attachment: fixed">
    <h2>♚ Network ♚</h2>

</div>
<table class="table table-striped" style="text-align: center;margin-top:30px;color:white">
        <h2 class="jumbotron" style="background-color : grey;background-size: 100% 100%;background-repeat: no-repeat; background-position: top;background-attachment: fixed;text-align: center; text-decoration: underline;margin-top:30px;color:white;">
        {{ summery }}</h2>

<thread>
<tr>
<th>Switches</th>
<th>Controller</th>
<th>Accesspoint</th>
<th>Network_id</th>
</tr>  
</thread>  
{% endblock body %}
