{% extends 'base.html' %}

{% block title %}Servers|{% endblock title %}

{% block body %}
<h2><b><center>Servers</b></center></h2>

<div class="container mx-4">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p align="justify">
</p><h2>Servers</h2>
<h4>IBM Rack Mounted Servers</h4>
<h4>	ITEM/ SPECIFICATION	QTY 4 </h4>
<h4>System Model:IBM Rack Mounted Server x3400</h4>
<p>1.CPU 2x Intel Xeon Dual Core 3.00GHz, 16KB primary memory cache, 2048KB secondary memory cache<br />
2. Memory:5GB RAM (2X512MB 400MHz DDR2 RAM, 2 DDR2 ECC RAM 2X1GB)<br />
3. Hard Disk Drive: Adaptec array SCSI Disk 3X146GB SAS HARD DISK, 10K Hot plug<br />
4.Back-up Drive: 36/72 DAT DDS 5 Drive<br />
5.Ports:6 USB ports(including 2 USB in front), 1 parallel port, 1 serial port, 1 PS/2 keyboard, 1 PS/2 mouse port<br />
6.Bus Adapters: Adaptec SCSI Card 29320 ALP-Ultra 320 SCSI IBM server RAID 8k/8k-1 Controller<br />
7.Optical Drive:HL-DT-STCD-ROMGCR 8486B<br />
8.Networking Features:Broadband Net Xtream Gigabit Ethernet<br />
9.Power  management:  Screen  blanking,  hard  disk  and  system  idle  mode  in  power  on, setup password,power supply SMPS surge protected<br />
10.OS Support Windows Server 2003/Win Server 2008/2012/RHEL/UBUNTU/SUSE Linux etc.</p>
<h4>	ITEM/ SPECIFICATION	QTY 1 </h4>
<h4>System Model:IBM Rack Mounted Server x3800</h4>
<p>1.CPU 2x  Intel Xeon QuadCore 2.8GHz, 16KB primary memory cache,2048KB<br />
secondary memory cache<br />
2. Memory: 4GB RAM(2GB 400MHz DDR2RAM,DDR2ECC RAM2X1GB)<br />
3. Hard Disk Drive:Adaptec array SCSI Disk 3X 146GBSAS HARD DISK,10K Hot plug<br />
4.Back-up Drive:3 6/72DAT DDS 5 Drive<br />
5.Ports:6 USB ports(including 2 USB in front), 1 parallel port, 1 serial port, 1 PS/2 keyboard, 1 PS/2 mouse port, 2 HDMI ports.<br />
6.Bus Adapters: Adaptec SCSI Card 29320 ALP-Ultra 320 SCSI IBM server RAID 8k/8k-1<br />
Controller<br />
7.Optical Drive: HL-DT-STCD-ROMGCR 8486B<br />
8.Networking Features:Broadband Net Xtream Gigabit Ethernet<br />
9.Power  management:  Screen  blanking,  hard  disk  and  system  idle  mode  in  power on, setup password, power supply SMPS surge protected<br />
10.OS Support Windows Server 2003/Win Server 2008/ 2012 / RHEL/ UBUNTU/SUSE Linux etc.</p>
<h4>	ITEM/ SPECIFICATION	QTY 1 </h4>
<h4>System Model: HP Proliant Server 350</h4>
<p> 	1.CPU 2 x Intel XEON E5-2600 with 8 Core each<br />
 	2.Cache Memory 12 MB L3 or higher Cache per processor<br />
 	3.System Management Processor – Integrated Management Module(IMM)<br />
 	4.Memory – 32 GB PC3-10600 ECC DDR3-1333 VLP RDIMM<br />
 	5.Hard Disk Drives – 2 x 600 GB 10K RPM SAS HDD<br />
 	6. 2 Numbers of Gigabit Ethernet ports<br />
 	7. Dignostics LEDs (Front Panel) Power Good, Blade Location, Over Temperature Information, General Fault LEDs<br />
 	8. Environment, event recording and alert notification through visual diagnostics, Power management features<br />
 	9. OS Support Windows Server 2003 / Win Server 2008 / 2012 / RHEL / SUSE/UBUNTU Linux etc	 </p>
<h4>	ITEM/ SPECIFICATION	QTY  1</h4>
<h4>System Model:IBM Tower Server X225</h4>
<p>1.CPU-Intel Xeon processor 2.8GHz/533MHz front-side bus<br />
2.Memory:2GB RAMPC 2100 DDR Chipkill<br />
3.Hard Disk Drive: Adaptec array SCSI Disk 3X73GB SAS HARD DISK, 10K Hot plug<br />
4.Ports:4 USB ports(including 2 USB infront), 1 parallel port, 1 serial port, 1 PS/2 keyboard, 1 PS/2 mouseport<br />
5.Optical Drive: HL-DT-STCD-ROM<br />
6.Networking Features:Integrated10/100/1000 Ethernet<br />
7.Power  management:  Screen  blanking,  hard  disk  and  system  idle  mode  in  power on, setup password, power supply SMPS surge protected<br />
8.OS Support Windows Server 2000/ RHEL/ UBUNTU/SUSE Linux etc.</p>
<h4>IBM Blade Servers</h4>
<h4>	ITEM/ SPECIFICATION	QTY 2  </h4>
<h4>IBM Blade Servers</h4>
<p> 	1.CPU 2 x Intel XEON 5670 @ 2.9 GHz / 6 Core each<br />
 	2.Cache Memory 12 MB L3 or higher Cache per processor<br />
 	3.System Management Processor – Integrated Management Module(IMM)<br />
 	4.Memory – 32 GB PC3-10600 ECC DDR3-1333 VLP RDIMM<br />
 	5.Hard Disk Drives – 2 x 600 GB 10K RPM SAS HDD<br />
 	6. 2 Numbers of Gigabit Ethernet ports<br />
 	7. Fiber/SAS Connect Dual Port SAS Adapter to connect to storage<br />
 	8. Power supply from the blade chassis<br />
 	9. Dignostics LEDs (Front Panel) Power Good, Blade Location, Over Temperature Information, General Fault LEDs<br />
 	10. System management and diagnostics integrated management processor to monitor environment, event recording and alert notification through visual diagnostics, Power management features<br />
 	11. OS Support Windows Server 2003 / Win Server 2008 / 2012 / RHEL / SUSE/UBUNTU Linux etc	 </p>
<h4>	ITEM/ SPECIFICATION	QTY 2</h4>
<h4>IBM Blade Servers</h4>
<p> 	1.CPU 2 x Intel XEON 5675 @ 3.06 GHz / 6 Core each<br />
 	2.Cache Memory 12 MB L3 or higher Cache per processor<br />
 	3.System Management Processor – Integrated Management Module(IMM)<br />
 	4.Memory – 32 GB PC3-10600 ECC DDR3-1333 VLP RDIMM<br />
 	5.Hard Disk Drives – 2 x 600 GB 10K RPM SAS HDD<br />
 	6. 2 Numbers of Gigabit Ethernet ports<br />
 	7. Fiber/SAS Connect Dual Port SAS Adapter to connect to storage<br />
 	8. Power supply from the blade chassis<br />
 	9. Dignostics LEDs (Front Panel) Power Good, Blade Location, Over Temperature Information, General Fault LEDs<br />
 	10. System management and diagnostics integrated management processor to monitor environment, event recording and alert notification through visual diagnostics, Power management features<br />
 	11. OS Support Windows Server 2003 / Win Server 2008 / 2012 / RHEL / SUSE/UBUNTU Linux etc.</p>
<p><b>IBM Blade Centre S Chassis</b></p>
<p> IBM Blade Centre S-Class Chassis to house Six Blades and Redundant Paths to the Shared resources from blade servers like power, system management, cabling, Ethernet management and expansion, external Fibre Channel / SAS storage switching and connectivity, and I/O (diskette drive, optical drive, and ports for USB, keyboard, video, mouse). The Blade Chassis has one DVD R/W Drive.</p>
<p> Layer 2 Ethernet switches for connecting all the blades in the chassis to the external LAN network in redundant manner. Ethernet switches support Two I/O Ports per blade and has Six 10/100/1000 Mbps copper connected external ports.</p>
<p> Chassis has Dual Redundant SAS Storage Controller. Controller Modules can connect External storage with Chassis in fully redundant manner.</p>
<p> IP Based KVM functionality for internally/externally Module Management for all the blade servers. Dual redundant Management modules can be configured for the Management of Blade &amp; I/O Switches on the chassis.</p>
<p> N+N Redundancy on the Power supplies powering the chassis. Configured blades have redundant connectivity for Power to the Mid plane.</p>
<p> Cooling is provided for all the components in completely redundant manner using Hot Swap Blowers/High Speed fans
</p>
<h4>	ITEM/ SPECIFICATION	QTY 1 </h4>
<h4>System Model:Dell PowerEdge T440 Server</h4>
<p>1.CPU 2*Intel Xeon Silver 4110 2.1, 11M  Cache<br />
2. Memory: 4*16GB RDIMM2666MT/s<br />
3. Hard Disk Drive: 3*2.4TB 10K RPM SAS 12Gbps 512e 2.5in  Hot plug Hard Drive, 400GB SSD SATA</p>
</div></div></div>  </div>

  
</div>

 <!-- added -->

  </div>
</div>
  </div>
        
      </div></div> <!-- /.section, /#content -->

      <!-- sidebar (first) -->
      
      <!-- sidebar (second) -->
                    <div id="sidebar-second" class="column sidebar"><div class="section">
            <div class="region region-sidebar-second">
    <div id="block-block-4" class="block block-block clearfix">

    <h2>Timings</h2>
  
  <div class="content">
    <p>8:30 AM to 6:30 PM (Mon-Fri)<br />
8:30 AM to 4:30 PM (Sat-Sun)</p>
  </div>
</div>
  </div>
        </div></div> <!-- /.section, /#sidebar-second -->
{% endblock body %}
