{% extends 'base.html' %}

{% block title %}Software|{% endblock title %}

{% block body %}

<h2><b><center>Software</center></b></h2>
 <div class="container mx-4">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded" ><!--<H3>Softwares</H3>--><p>
<b>LICENSED SOFTWARES’ IN THE INSTITUTE</b></p>
<p>IBM SPSS 24.0 WITH TOOLBOXES FOR MECHANICAL ENGINEERING<br />
SOLID WORKS<br />
SYSTAT 12.0<br />
DESIGN EXPERT 8.0<br />
MSC NASTRAN<br />
MSC APEX<br />
DYTRAN<br />
PATRAN<br />
STARe: (DSC) DIFFERENTIAL SCANNING<br />
MATLAB 13 WITH TOOLBOXES FOR ELECTRICAL ENGINEERING<br />
LAB VIEW 2013<br />
ETAP<br />
PSCAD<br />
G.T. STRUDAL<br />
STAAD PRO V8I<br />
NUCLEUS 2007<br />
BUILDING ESTIMATOR<br />
GEO-5<br />
PLAXIS 2-D<br />
PLAXIS 3-D<br />
AUTOCAD LT – 2008<br />
ATENA<br />
MX ROAD V8I<br />
CIVIL STORM V8I<br />
HAMMER V8I<br />
SEWER GEMS V8I<br />
STORM CAD V8I<br />
WATER GEMS V8I<br />
MATLAB 2015 WITH TOOL BOXES FOR ELECTRONICS ENGINEERING<br />
OPTISPICE<br />
IE3D<br />
NETSIM<br />
KEIL<br />
EDX SIGNAL<br />
OPTI SYSTEM<br />
CADENCE VLSI SUITE<br />
PHOTOSHOP<br />
IBM RATIONAL ROSE<br />
MATALB 2016 WITH TOOL BOXES FOR COMPUTER SCIENCE AND INFORMATION TECHNOLOGY<br />
ORACLE 11G<br />
VISUAL STUDIO<br />
OFFICE SUITE<br />
ORACLE 9I<br />
QUALNET<br />
NISS (NETWORK AND INTERNET SECURITY SIMULATOR)<br />
L-SIM (LAN PROTOCOL SIMULATOR)<br />
MIL – 10.0 SOLUTION FOR IMAGE PROCESSING</p>
</div></div></div>  </div>

  
</div>

 <!-- added -->

  </div>
</div>
  </div>
        
      </div></div> <!-- /.section, /#content -->

      <!-- sidebar (first) -->
      
      <!-- sidebar (second) -->
                    <div id="sidebar-second" class="column sidebar"><div class="section">
            <div class="region region-sidebar-second">
    <div id="block-block-4" class="block block-block clearfix">

    <h2>Timings</h2>
  
  <div class="content">
    <p>8:30 AM to 6:30 PM (Mon-Fri)<br />
8:30 AM to 4:30 PM (Sat-Sun)</p>
  </div>
</div>
  </div>
        </div></div> <!-- /.section, /#sidebar-second -->
      
{% endblock body %}
