{% extends 'base.html' %}

{% block title %}Storage|{% endblock title %}

{% block body %}
<h2><b><center>Storage</b></center></h2>
<div class="container mx-4">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><h4>Storage</h4>
<h4>IBM Storage DS3512</h4>
<p>IBM DS 3512 storage 7.2 TB having 5 TB usable space on RAID with 12 Numbers of 600GB 15K 6GBPS SAS Hard Disks. Each controller has minimum two nos. of 6Gbps SAS ports and supports SSD/Flash, SATA/FATA/NL-SAS Discs.</p>
<p>SAN storage has dual active controllers with minimum 1 GB cache for each controller, redundant power supplies and cooling units, it has support of RAID 0,1,3,5,6,10 with cache de-staging. SAN Storage can be configured with minimum 1 Global Hot spares disk for entire storage. It has 2 SAS Ports per controller to ensure redundancy. The storage system has the functionality to detect the potential drive failure in RAID group and is able to proactively rebuild the data into the hot spare.</p>
<p>The storage supports AIX, Solaris, Linux and Windows operating systems.</p>
<p>The management software provides the features like Online changing of RAID configuration of an Array, Changing data stripe online, LUN Masking Diagnostic tools for subsystem components (controllers, discs, etc), recovery along with System and RAID manager error logs.</p>
</div></div>

{% endblock body %}
