{% extends 'base.html' %}

{% block title %}Workstations|{% endblock title %}

{% block body %}
<h2><b><center>Workstations</b></center></h2>
<div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><h4>Workstation</h4>
<h4>Dell Precision T 1650 WorkStation                                                                          Quantity 1 Number</h4>
<p>1	CPU -  Intel Xeon E3 1240 V2 3.40 GHz i5 Second Generation Processor<br />
2	Memory: 16 GB RAM (2 GB 400 MHz DDR2 RAM, DDR2 ECC RAM<br />
3	Hard Disk Drive: SATA 500 GB 7200 RPM HDD, Integrated Intel Rapid Storage Controller 11.0 supporting SATA 6Gb/s and host based RAID 0/1/5/10<br />
4	Optical Drive: HL-DT-ST CD-ROM GCR 8486B<br />
5	Networking Features: Integrated Intel 82579 Gigabit Ethernet controller with Remote Wake UP, PXE and Jumbo frames support<br />
6	Ports: 10 USB ports (including 4 USB in front), 1 parallel port, 1 serial port, 1 PS/2 keyboard, 1 PS/2 mouse port<br />
7	Integrated NVIDIA Quadro 410 Graphics Card<br />
8	OS Support Windows 7 / Windows 8 / RHEL / UBUNTU Linux etc</p>
</div></div></div>  </div>

  
</div>

 <!-- added -->

  </div>
</div>
  </div>
        
      </div></div> <!-- /.section, /#content -->

      <!-- sidebar (first) -->
      
      <!-- sidebar (second) -->
                    <div id="sidebar-second" class="column sidebar"><div class="section">
            <div class="region region-sidebar-second">
    <div id="block-block-4" class="block block-block clearfix">

    <h2>Timings</h2>
  
  <div class="content">
    <p>8:30 AM to 6:30 PM (Mon-Fri)<br />
8:30 AM to 4:30 PM (Sat-Sun)</p>
  </div>
</div>
  </div>
        </div></div>

{% endblock body %}
